:root {
    --color-theme: #61DAFB
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Thin.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Black.ttf) format('truetype');
  font-weight: 900;
}